---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blogs');
---

<Layout title="Blogs">
<section>
<h2>Blog</h2>
<p>I write about Engineering, AI, Hands-on Projects and leisure interests.</p>
<div class="blog-list">
{allPosts.map(post => <BlogCard post={post} />)}
</div>
</section>
</Layout>
<style>
/* Add styles for blog list */
</style>