---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact Me">
	<section>
		<h2>Contact Me</h2>
		<p>Have a question or want to work together? Feel free to reach out at avani[dot]chaskar[at]gmail[dot]com.</p>
		<div class="social-links">
			<a href="https://linkedin.com/in/avani-chaskar" target="_blank">LinkedIn</a>
			<a href="https://x.com/avani_cha" target="_blank">X (Twitter)</a>
			<a href="https://github.com/alwaysavani" target="_blank">GitHub</a>
		</div>
	</section>
</Layout>
<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: 2rem;
	}
	a {
		color: rgb(var(--gray));
		text-decoration: none;
	}
	a:hover {
		color: var(--accent);
	}
</style>