---
import Layout from '../layouts/Layout.astro';
import profilePic from '../avani-profile-pic.jpg';
---

<Layout title="Avani Chaskar | Senior Software Engineer">
	<section class="hero">
		<img src={profilePic.src} alt="Avani Chaskar" class="profile-pic">
		<h1>Avani Chaskar</h1>
		<p class="tagline" style="margin-bottom: 0.5rem;">Senior Software Engineer</p>
		<p style="color: #0e0361ff; margin-top: 0;"> <i>Backend and AI Engineering</i></p>

		<p class="intro" align="justify">Experienced professional with 5 years in backend systems and AI/ML. Specializes in building and deploying scalable applications using a diverse technology stack, including Java, Python, Spring Boot, Kafka, and AWS. Expertise also extends to modern AI tools like LangChain and Prompt Engineering for production-ready agents.</p>
		
	</section>
</Layout>
<style>
	.hero {
		text-align: center;
		padding: 4rem 0;
	}
	.profile-pic {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: 2rem;
	}
	h1 {
		font-size: 3rem;
		margin-bottom: 0.5rem;
	}
	.tagline {
		font-size: 1.5rem;
		color: rgb(var(--gray));
		margin-bottom: 2rem;
	}
	.intro {
		font-size: 1.1rem;
		line-height: 1.6;
	}
	.mission {
		font-size: 1.2rem;
		font-style: italic;
		margin-top: 3rem;
		padding: 1rem;
		border-left: 4px solid var(--accent);
		background-color: #f9f9f9;
	}
</style>